# Task 1  

## General instructions

First, update the following text to have a link to your Homework 2 GitHub repository:

**UPDATE THIS LINK**
https://github.com/a-ramji/eds220-hwk-3

Add comments for all your code and commit as needed. Err on the side of commenting and commiting too much for now. Points will be deducted for insufficient comments.


## About the data
In this task you will use two datsets:

**First dataset**

The first dataset contains information about [spilling incidents in the state of New York](https://data.ny.gov/Energy-Environment/Spill-Incidents/u44d-k5fk). 
The data portal has plenty of information. 
You will find extra information and metadata for this datset in the 'NYSDEC_SpillIncidents_Overview.pdf' and 'NYSDEC_SpillIncidents_DataDictionary.pdf' documents available at the portal.

You can access this datset via its URL or download it as a csv. 
If you chose to access it via URL, it will take a while to load every time you import it. 

**Second dataset**

The second dataset is a [TIGER shapefile from the United States Census Bureau](https://www.census.gov/geographies/mapping-files/time-series/geo/tiger-line-file.2022.html#list-tab-790442341). 
For this task you will need to **download the 2022 counties (and equivalent) TIGER shapefile**. 
You can check the [metadata for all the TIGER shapefiles here](https://www.census.gov/programs-surveys/geography/technical-documentation/complete-technical-documentation/tiger-geo-line.html). 



## File management
Make sure all your data files are inside a directory named 'data' inside your repository's directory (working directory).

## Datasets description
Read the metadata for both datsets and write a brief description about each once. Indicate the date sources and date of access.


**First dataset: Spilling incidents in New York Summary:**
"This dataset contains records of spills of petroleum and other hazardous materials. Under State law and regulations, spills that could pollute the lands or waters of the state must be reported by the spiller (and, in some cases, by anyone who has knowledge of the spill). "

Each spill record includes:
- Administrative information (DEC region and unique seven-digit spill number).
- Facility type.
- Spill date/time.
- Location.
- Contributing factor.
- Spill source and cause.
- Material(s) and material type spilled.
- Quantity spilled and recovered.
- Surface water bodies affected.
- Close date (cleanup activity finished and all paperwork completed). 
[source](https://data.ny.gov/Energy-Environment/Spill-Incidents/u44d-k5fk)

Accessed November 6, 2023.


**second dataset:TIGER 2022 Counties and equivalent Summary:**

[Source](https://www.census.gov/geographies/mapping-files/time-series/geo/tiger-line-file.2022.html#list-tab-790442341)
Accessed November 6, 2023.

## FINAL CODE

You will use the next cell at the end of the task. Leave it blank for now.

In [ ]:
### ===== FINAL CODE =====

<!-- write your description in this markdwon cell -->

## Import libraries

In [1]:
# import libraries here
# import numpy too

import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt

## Import data 
In the next cell:

- Import the NY spills data as a variable named `spills`. 
- Import the US counties shapefile as a variable named `counties`.

In [2]:
# importing NY spills data

spills = pd.read_csv("data/Spill_Incidents_20231106.csv")

# importing counties
counties = gpd.read_file("data/tl_2022_us_county/tl_2022_us_county.shp")

## Prepare spills data

This section refers to the `spills` dataframe. 
Check the outputs carefully, they will give you context about the next exercises.

### Exploration

In the next cells:

1. Check the dataframe's head
2. Simplify column names as needed
3. Check the data types of the columns
4. Check the unique values in the `material_family` column
5. Check the unique values in the `county` column

You can add any other cells of preliminary data exploration.

In [3]:
# 1. check dataframe's head
spills.head()

,Spill Number,Program Facility Name,Street 1,Street 2,Locality,County,ZIP Code,SWIS Code,DEC Region,Spill Date,Received Date,Contributing Factor,Waterbody,Source,Close Date,Material Name,Material Family,Quantity,Units,Recovered
0,107132,MH 864,RT 119/MILLWOOD RD,NaN,ELMSFORD,Westchester,NaN,6000,3,10/10/2001,10/10/2001,Unknown,NaN,Unknown,10/15/2001,unknown material,Other,10.0,Gallons,0.0
1,405586,BOWRY BAY,WATER POLL CONTROL,NaN,QUEENS,Queens,NaN,4101,2,08/21/2004,08/21/2004,Other,EAST RIVER,Unknown,09/17/2004,raw sewage,Other,0.0,Pounds,0.0
2,405586,BOWRY BAY,WATER POLL CONTROL,NaN,QUEENS,Queens,NaN,4101,2,08/21/2004,08/21/2004,Other,EAST RIVER,Unknown,09/17/2004,raw sewage,Other,0.0,NaN,0.0
3,204667,POLE 16091,GRACE AVE/BURKE AVE,NaN,BRONX,Bronx,NaN,301,2,08/02/2002,08/02/2002,Equipment Failure,NaN,Commercial/Industrial,10/28/2002,transformer oil,Petroleum,1.0,Gallons,0.0
4,210559,POLE ON,FERDALE LOMIS RD / RT 52,NaN,LIBERTY,Sullivan,NaN,5336,3,01/20/2003,01/20/2003,Traffic Accident,NaN,Commercial/Industrial,01/22/2003,transformer oil,Petroleum,6.0,Gallons,6.0

In [4]:
# 2. simplify column names as needed
spills.columns = spills.columns.str.lower().str.replace(' ','_')
spills.columns

Index(['spill_number', 'program_facility_name', 'street_1', 'street_2',
       'locality', 'county', 'zip_code', 'swis_code', 'dec_region',
       'spill_date', 'received_date', 'contributing_factor', 'waterbody',
       'source', 'close_date', 'material_name', 'material_family', 'quantity',
       'units', 'recovered'],
      dtype='object')

In [10]:
# 3. check the data types of the columns
spills.dtypes

spill_number               int64
program_facility_name     object
street_1                  object
street_2                  object
locality                  object
county                    object
zip_code                  object
swis_code                  int64
dec_region                 int64
spill_date                object
received_date             object
contributing_factor       object
waterbody                 object
source                    object
close_date                object
material_name             object
material_family           object
quantity                 float64
units                     object
recovered                float64
dtype: object

In [11]:
# 4. checking unique values in material_family column

spills.material_family.unique()

array(['Other', 'Petroleum', 'Hazardous Material', 'Oxygenates'],
      dtype=object)

In [12]:
# 5. checking the unique values in the "county" column

spills.county.unique()

array(['Westchester', 'Queens', 'Bronx', 'Sullivan', 'Cortland',
       'New York', 'Ulster', 'Kings', 'Orange', 'Dutchess', 'Onondaga',
       'Saratoga', 'Cayuga', 'Oswego', 'Warren', 'Niagara', 'Rockland',
       'Nassau', 'Jefferson', 'Schenectady', 'Albany', 'Monroe',
       'St Lawrence', 'Richmond', 'Clinton', 'Lewis', 'Essex', 'Chenango',
       'Erie', 'Livingston', 'Wayne', 'Suffolk', 'Orleans', 'Ontario',
       'Genesee', 'Otsego', 'Tompkins', 'Madison', 'Chemung', 'Seneca',
       'Oneida', 'Broome', 'Hamilton', 'Washington', 'Schuyler',
       'Franklin', 'Columbia', 'Fulton', 'Herkimer', 'Schoharie',
       'Rensselaer', 'Montgomery', 'Putnam', 'Delaware',
       'New Jersey - Region 2', 'Steuben', 'Tioga', 'Chautauqua',
       'Cattaraugus', 'Wyoming', 'Yates', 'Greene',
       'Pennsylvania - Region 9', 'Allegany', 'New Jersey - Region 3 (N)',
       'Cattaraugus Indian Reservation', 'New Jersey - Region 3 (T)',
       'Canada - Region 6', 'Canada - Region 9',
       'Pennsylvania - Region 8', 'Vermont - Region 5 (R)',
       'Vermont - Region 4', 'Connecticut - Region 3 (N)',
       'Pennsylvania - Region 3', 'Tuscarora Indian Reservation',
       'Connecticut - Region 4', 'Connecticut - Region 3 (T)',
       'Massachusetts - Region 4', 'Connecticut - Region 1',
       'Canada - Region 8', 'Oil Springs Indian Reservation',
       'Canada - Region 5', 'Poospatuck Indian Reservation',
       'Onondaga Indian Reservation',
       'St. Regis Indian Reservation - Region 5',
       'Pennsylvania - Region 7', 'Shinnecock Indian Reservation'],
      dtype=object)

### Data selection

1. Select data about petroleum spills that took place between January 1st 2023, and October 31st (including both dates), 2023. Store it in a variable named `petr_23`. The data selection should occur in a single line. You may add cells if you needed.

In [21]:
# we want the spill date, so we'll use that column

# our spill_date and received_date columns are both type "object" rather than datetime64, 
# so we'll change this first using pd.to_datetime

spills.spill_date = pd.to_datetime(spills.spill_date)
spills.received_date = pd.to_datetime(spills.received_date)
spills.close_date = pd.to_datetime(spills.close_date)

# let's check if this step worked:

spills.dtypes
# it did!

spill_number                      int64
program_facility_name            object
street_1                         object
street_2                         object
locality                         object
county                           object
zip_code                         object
swis_code                         int64
dec_region                        int64
spill_date               datetime64[ns]
received_date            datetime64[ns]
contributing_factor              object
waterbody                        object
source                           object
close_date               datetime64[ns]
material_name                    object
material_family                  object
quantity                        float64
units                            object
recovered                       float64
dtype: object

In [22]:
# we only want data with petroleum spills, so we'll select those rows from material_family == Petroleum

petroleum_spills = spills[ (spills['material_family'] == 'Petroleum')]
# checking to see if this step worked
petroleum_spills.material_family.unique()
# it did!

array(['Petroleum'], dtype=object)

In [28]:
# using our subset, now selecting date values between january 1st 2023 and october 31st 2023 (inclusive)

test = spills[(spills['spill_date'] >= '2023-01-01') & (spills['spill_date'] <= '2023-10-31')]

# checking the output
test.head()
# seems to work!
test.spill_date.unique()

array(['2023-05-30T00:00:00.000000000', '2023-06-06T00:00:00.000000000',
       '2023-08-02T00:00:00.000000000', '2023-08-28T00:00:00.000000000',
       '2023-09-27T00:00:00.000000000', '2023-07-28T00:00:00.000000000',
       '2023-01-13T00:00:00.000000000', '2023-02-09T00:00:00.000000000',
       '2023-05-07T00:00:00.000000000', '2023-03-31T00:00:00.000000000',
       '2023-03-23T00:00:00.000000000', '2023-03-15T00:00:00.000000000',
       '2023-06-12T00:00:00.000000000', '2023-09-16T00:00:00.000000000',
       '2023-10-16T00:00:00.000000000', '2023-06-05T00:00:00.000000000',
       '2023-08-15T00:00:00.000000000', '2023-08-21T00:00:00.000000000',
       '2023-09-20T00:00:00.000000000', '2023-03-08T00:00:00.000000000',
       '2023-06-15T00:00:00.000000000', '2023-05-21T00:00:00.000000000',
       '2023-05-15T00:00:00.000000000', '2023-05-12T00:00:00.000000000',
       '2023-06-30T00:00:00.000000000', '2023-01-04T00:00:00.000000000',
       '2023-07-02T00:00:00.000000000', '2023-02-08T00:00:00.000000000',
       '2023-07-22T00:00:00.000000000', '2023-05-11T00:00:00.000000000',
       '2023-01-24T00:00:00.000000000', '2023-04-21T00:00:00.000000000',
       '2023-08-22T00:00:00.000000000', '2023-06-29T00:00:00.000000000',
       '2023-04-25T00:00:00.000000000', '2023-07-26T00:00:00.000000000',
       '2023-01-05T00:00:00.000000000', '2023-01-30T00:00:00.000000000',
       '2023-06-02T00:00:00.000000000', '2023-10-19T00:00:00.000000000',
       '2023-06-01T00:00:00.000000000', '2023-04-26T00:00:00.000000000',
       '2023-05-31T00:00:00.000000000', '2023-04-28T00:00:00.000000000',
       '2023-05-23T00:00:00.000000000', '2023-07-21T00:00:00.000000000',
       '2023-08-26T00:00:00.000000000', '2023-10-17T00:00:00.000000000',
       '2023-06-28T00:00:00.000000000', '2023-03-25T00:00:00.000000000',
       '2023-04-03T00:00:00.000000000', '2023-02-06T00:00:00.000000000',
       '2023-10-13T00:00:00.000000000', '2023-02-24T00:00:00.000000000',
       '2023-01-18T00:00:00.000000000', '2023-08-05T00:00:00.000000000',
       '2023-09-15T00:00:00.000000000', '2023-03-16T00:00:00.000000000',
       '2023-03-14T00:00:00.000000000', '2023-05-01T00:00:00.000000000',
       '2023-08-14T00:00:00.000000000', '2023-07-10T00:00:00.000000000',
       '2023-09-06T00:00:00.000000000', '2023-10-04T00:00:00.000000000',
       '2023-08-23T00:00:00.000000000', '2023-10-28T00:00:00.000000000',
       '2023-07-19T00:00:00.000000000', '2023-10-12T00:00:00.000000000',
       '2023-09-22T00:00:00.000000000', '2023-08-18T00:00:00.000000000',
       '2023-09-08T00:00:00.000000000', '2023-01-29T00:00:00.000000000',
       '2023-06-09T00:00:00.000000000', '2023-08-03T00:00:00.000000000',
       '2023-04-15T00:00:00.000000000', '2023-10-01T00:00:00.000000000',
       '2023-09-21T00:00:00.000000000', '2023-01-27T00:00:00.000000000',
       '2023-06-23T00:00:00.000000000', '2023-06-21T00:00:00.000000000',
       '2023-08-31T00:00:00.000000000', '2023-03-27T00:00:00.000000000',
       '2023-01-16T00:00:00.000000000', '2023-07-12T00:00:00.000000000',
       '2023-07-17T00:00:00.000000000', '2023-04-29T00:00:00.000000000',
       '2023-03-02T00:00:00.000000000', '2023-10-09T00:00:00.000000000',
       '2023-09-25T00:00:00.000000000', '2023-03-07T00:00:00.000000000',
       '2023-09-19T00:00:00.000000000', '2023-02-19T00:00:00.000000000',
       '2023-10-02T00:00:00.000000000', '2023-04-19T00:00:00.000000000',
       '2023-05-03T00:00:00.000000000', '2023-07-05T00:00:00.000000000',
       '2023-04-16T00:00:00.000000000', '2023-08-27T00:00:00.000000000',
       '2023-02-15T00:00:00.000000000', '2023-03-22T00:00:00.000000000',
       '2023-10-30T00:00:00.000000000', '2023-08-11T00:00:00.000000000',
       '2023-09-26T00:00:00.000000000', '2023-03-13T00:00:00.000000000',
       '2023-01-01T00:00:00.000000000', '2023-05-18T00:00:00.000000000',
       '2023-10-27T00:00:00.000000000', '2023-04-18T00:00:00.000000000',
       '2023-05-08T00:00:00.000000000', '2023-06-24T00:00:00.000000000',
       '2023-06-26T00:00:00.000000000', '2023-02-21T00:00:00.000000000',
       '2023-07-01T00:00:00.000000000', '2023-05-02T00:00:00.000000000',
       '2023-08-07T00:00:00.000000000', '2023-02-25T00:00:00.000000000',
       '2023-02-16T00:00:00.000000000', '2023-04-12T00:00:00.000000000',
       '2023-02-20T00:00:00.000000000', '2023-02-17T00:00:00.000000000',
       '2023-02-07T00:00:00.000000000', '2023-07-31T00:00:00.000000000',
       '2023-08-06T00:00:00.000000000', '2023-02-18T00:00:00.000000000',
       '2023-03-11T00:00:00.000000000', '2023-05-10T00:00:00.000000000',
       '2023-06-07T00:00:00.000000000', '2023-04-11T00:00:00.000000000',
       '2023-08-29T00:00:00.000000000', '2023-10-18T00:00:00.000000000',
       '2023-01-14T00:00:00.000000000', '2023-04-06T00:00:00.000000000',
       '2023-05-29T00:00:00.000000000', '2023-03-26T00:00:00.000000000',
       '2023-02-11T00:00:00.000000000', '2023-07-03T00:00:00.000000000',
       '2023-09-01T00:00:00.000000000', '2023-04-05T00:00:00.000000000',
       '2023-09-04T00:00:00.000000000', '2023-09-05T00:00:00.000000000',
       '2023-02-28T00:00:00.000000000', '2023-05-20T00:00:00.000000000',
       '2023-06-13T00:00:00.000000000', '2023-05-25T00:00:00.000000000',
       '2023-07-09T00:00:00.000000000', '2023-07-08T00:00:00.000000000',
       '2023-03-30T00:00:00.000000000', '2023-09-18T00:00:00.000000000',
       '2023-04-22T00:00:00.000000000', '2023-05-16T00:00:00.000000000',
       '2023-08-12T00:00:00.000000000', '2023-03-09T00:00:00.000000000',
       '2023-03-24T00:00:00.000000000', '2023-03-10T00:00:00.000000000',
       '2023-10-14T00:00:00.000000000', '2023-06-16T00:00:00.000000000',
       '2023-02-10T00:00:00.000000000', '2023-08-30T00:00:00.000000000',
       '2023-04-17T00:00:00.000000000', '2023-06-03T00:00:00.000000000',
       '2023-10-05T00:00:00.000000000', '2023-05-19T00:00:00.000000000',
       '2023-04-01T00:00:00.000000000', '2023-04-30T00:00:00.000000000',
       '2023-01-23T00:00:00.000000000', '2023-07-24T00:00:00.000000000',
       '2023-09-14T00:00:00.000000000', '2023-03-01T00:00:00.000000000',
       '2023-05-24T00:00:00.000000000', '2023-06-14T00:00:00.000000000',
       '2023-05-05T00:00:00.000000000', '2023-02-01T00:00:00.000000000',
       '2023-09-30T00:00:00.000000000', '2023-05-13T00:00:00.000000000',
       '2023-05-27T00:00:00.000000000', '2023-03-28T00:00:00.000000000',
       '2023-02-23T00:00:00.000000000', '2023-08-16T00:00:00.000000000',
       '2023-02-14T00:00:00.000000000', '2023-06-08T00:00:00.000000000',
       '2023-01-20T00:00:00.000000000', '2023-03-03T00:00:00.000000000',
       '2023-08-24T00:00:00.000000000', '2023-09-07T00:00:00.000000000',
       '2023-07-06T00:00:00.000000000', '2023-04-13T00:00:00.000000000',
       '2023-01-19T00:00:00.000000000', '2023-09-11T00:00:00.000000000',
       '2023-01-11T00:00:00.000000000', '2023-04-04T00:00:00.000000000',
       '2023-09-10T00:00:00.000000000', '2023-03-29T00:00:00.000000000',
       '2023-05-26T00:00:00.000000000', '2023-10-06T00:00:00.000000000',
       '2023-04-14T00:00:00.000000000', '2023-04-10T00:00:00.000000000',
       '2023-10-26T00:00:00.000000000', '2023-04-20T00:00:00.000000000',
       '2023-09-28T00:00:00.000000000', '2023-10-03T00:00:00.000000000',
       '2023-04-08T00:00:00.000000000', '2023-05-17T00:00:00.000000000',
       '2023-02-27T00:00:00.000000000', '2023-10-31T00:00:00.000000000',
       '2023-01-31T00:00:00.000000000', '2023-07-27T00:00:00.000000000',
       '2023-10-10T00:00:00.000000000', '2023-10-25T00:00:00.000000000',
       '2023-06-27T00:00:00.000000000', '2023-10-11T00:00:00.000000000',
       '2023-06-11T00:00:00.000000000', '2023-10-29T00:00:00.000000000',
       '2023-04-07T00:00:00.000000000', '2023-07-20T00:00:00.000000000',
       '2023-09-29T00:00:00.000000000', '2023-08-19T00:00:00.000000000',
       '2023-03-21T00:00:00.000000000', '2023-02-02T00:00:00.000000000',
       '2023-01-06T00:00:00.000000000', '2023-01-12T00:00:00.000000000',
       '2023-01-26T00:00:00.000000000', '2023-07-18T00:00:00.000000000',
       '2023-07-11T00:00:00.000000000', '2023-01-10T00:00:00.000000000',
       '2023-05-09T00:00:00.000000000', '2023-05-14T00:00:00.000000000',
       '2023-08-04T00:00:00.000000000', '2023-01-25T00:00:00.000000000',
       '2023-04-09T00:00:00.000000000', '2023-07-07T00:00:00.000000000',
       '2023-10-15T00:00:00.000000000', '2023-02-04T00:00:00.000000000',
       '2023-10-07T00:00:00.000000000', '2023-07-16T00:00:00.000000000',
       '2023-09-02T00:00:00.000000000', '2023-09-13T00:00:00.000000000',
       '2023-08-10T00:00:00.000000000', '2023-08-01T00:00:00.000000000',
       '2023-06-22T00:00:00.000000000', '2023-03-17T00:00:00.000000000',
       '2023-09-12T00:00:00.000000000', '2023-06-20T00:00:00.000000000',
       '2023-08-13T00:00:00.000000000', '2023-03-18T00:00:00.000000000',
       '2023-10-23T00:00:00.000000000', '2023-04-23T00:00:00.000000000',
       '2023-08-17T00:00:00.000000000', '2023-02-22T00:00:00.000000000',
       '2023-07-15T00:00:00.000000000', '2023-09-03T00:00:00.000000000',
       '2023-03-06T00:00:00.000000000', '2023-05-06T00:00:00.000000000',
       '2023-05-28T00:00:00.000000000', '2023-07-04T00:00:00.000000000',
       '2023-10-08T00:00:00.000000000', '2023-05-22T00:00:00.000000000',
       '2023-08-25T00:00:00.000000000', '2023-06-19T00:00:00.000000000',
       '2023-06-25T00:00:00.000000000', '2023-08-08T00:00:00.000000000',
       '2023-02-13T00:00:00.000000000', '2023-09-23T00:00:00.000000000',
       '2023-04-24T00:00:00.000000000', '2023-01-02T00:00:00.000000000',
       '2023-03-05T00:00:00.000000000', '2023-01-09T00:00:00.000000000',
       '2023-06-18T00:00:00.000000000', '2023-06-17T00:00:00.000000000',
       '2023-07-25T00:00:00.000000000', '2023-01-21T00:00:00.000000000',
       '2023-07-14T00:00:00.000000000', '2023-09-09T00:00:00.000000000',
       '2023-03-04T00:00:00.000000000', '2023-05-04T00:00:00.000000000',
       '2023-10-20T00:00:00.000000000', '2023-09-17T00:00:00.000000000',
       '2023-01-03T00:00:00.000000000', '2023-03-20T00:00:00.000000000',
       '2023-04-27T00:00:00.000000000', '2023-07-13T00:00:00.000000000',
       '2023-09-24T00:00:00.000000000', '2023-02-03T00:00:00.000000000',
       '2023-02-12T00:00:00.000000000', '2023-06-04T00:00:00.000000000',
       '2023-08-09T00:00:00.000000000', '2023-10-24T00:00:00.000000000',
       '2023-10-21T00:00:00.000000000', '2023-10-22T00:00:00.000000000',
       '2023-07-29T00:00:00.000000000', '2023-02-05T00:00:00.000000000',
       '2023-07-30T00:00:00.000000000', '2023-01-17T00:00:00.000000000',
       '2023-01-22T00:00:00.000000000', '2023-01-28T00:00:00.000000000',
       '2023-01-08T00:00:00.000000000', '2023-07-23T00:00:00.000000000',
       '2023-01-07T00:00:00.000000000', '2023-06-10T00:00:00.000000000',
       '2023-04-02T00:00:00.000000000', '2023-08-20T00:00:00.000000000',
       '2023-01-15T00:00:00.000000000', '2023-02-26T00:00:00.000000000',
       '2023-03-19T00:00:00.000000000', '2023-03-12T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [39]:
# one liner

petr_23 = spills[(spills['material_family'] == 'Petroleum') & (spills['spill_date'] >= '2023-01-01') & (spills['spill_date'] <= '2023-10-31')]


# checking my output again
print(len(spills) - len(petr_23))
petr_23.head()

535141

,spill_number,program_facility_name,street_1,street_2,locality,county,zip_code,swis_code,dec_region,spill_date,received_date,contributing_factor,waterbody,source,close_date,material_name,material_family,quantity,units,recovered
220,2301892,*** TEST SPILL ***,*** TEST SPILL ***,NaN,*** TEST SPILL ***,Onondaga,00000,3415,7,2023-06-06,2023-06-06,Tank Test Failure,NaN,Unknown,2023-07-12,#2 fuel oil,Petroleum,0.0,Gallons,0.0
221,2301892,*** TEST SPILL ***,*** TEST SPILL ***,NaN,*** TEST SPILL ***,Onondaga,00000,3415,7,2023-06-06,2023-06-06,Tank Test Failure,NaN,Unknown,2023-07-12,"used oil (heating, on-site consumption)",Petroleum,0.0,NaN,0.0
222,2301892,*** TEST SPILL ***,*** TEST SPILL ***,NaN,*** TEST SPILL ***,Onondaga,00000,3415,7,2023-06-06,2023-06-06,Tank Test Failure,NaN,Unknown,2023-07-12,#2 fuel oil (on-site consumption),Petroleum,0.0,NaN,0.0
223,2301892,*** TEST SPILL ***,*** TEST SPILL ***,NaN,*** TEST SPILL ***,Onondaga,00000,3415,7,2023-06-06,2023-06-06,Tank Test Failure,NaN,Unknown,2023-07-12,Diesel (E-Gen),Petroleum,0.0,NaN,0.0
225,2301892,*** TEST SPILL ***,*** TEST SPILL ***,NaN,*** TEST SPILL ***,Onondaga,00000,3415,7,2023-06-06,2023-06-06,Tank Test Failure,NaN,Unknown,2023-07-12,waste oil/used oil,Petroleum,0.0,NaN,0.0

2. Verify that `petr_23` only has data for petroleum spills

In [40]:
petr_23.material_family.unique()

array(['Petroleum'], dtype=object)

3. Verify that `petr_23` only has data for 2023. 
HINT: if you converted the `spill_date` column to datetime, you can use `petr_23.spill_date.dt.year.unique()`

In [42]:
# I transformed my date columns to be datetime data types so I'll use the code suggested above

petr_23.spill_date.dt.year.unique()

array([2023])

4. Verify that `petr_23` only has data from January to October.

In [44]:
# using the same code as above, specifying month instead of year
petr_23.spill_date.dt.month.unique()

array([ 6,  8,  9,  7,  1,  2,  3, 10,  5,  4])

### Data aggregation

Create new dataframe named `spills_per_county` with the number of petroleum spills per county from January to October 2023 (i.e. use the `petr_23` dataframe).

The resulting `spills_per_county` dataframe must be as follows:

- Index: integer numbers starting from 0
- Column one: county names, column name = `county`
- Column two: number of petroleum spills per county in 2023, column name = `n_spills`

You may add cells if you needed.

In [9]:
# your code here

## Prepare counties data

This section refers to the `counties` geodataframe. 
Check the outputs carefully, they will give you context about the next exercises.

### Exploration

In the next cells:

1. Check the geo-dataframe's head
2. Simplify column names as needed
3. Check the data types of the columns
4. Check the geo-dataframe's CRS
5. Plot the geo-dataframe.

You can add any other cells of preliminary data exploration.

In [10]:
# 1.

In [11]:
# 2.

In [12]:
# 3.

In [13]:
# 4.

In [14]:
# 5.

### Data selection

Select all the counties for the state of New York in a new variable `ny_counties` and plot them. HINT: to find which counties correspond to NY, look at the metadata.

In [16]:
# your code here

## Merging

The goal of this section is to create a single dataframe with the number of spills per county and the corresponding geometries for each county.

### Explore data

In the next cells:

1. Print the names of counties in `ny_counties`, without repetition.
2. Print the names of counties in `spills_per_county`, without repetition. (Do you notice anything?)
3. Use the [`numpy` function `setdiff1d()`](https://numpy.org/doc/stable/reference/generated/numpy.setdiff1d.html) to find the county names that are in `spills_per_county`, but not in `ny_counties`. HINT: pay attention to the example in the documentation.
4. Find the county names that are in `ny_counties`, but not in `spills_per_county`.
5. Check the number of spills in 'Tuscarora Indian Reservation'.

In [17]:
# 1.

In [18]:
# 2.

In [19]:
# 3.

In [20]:
# 4.

In [21]:
# 5.

### Data updates

In this section we will update 'St Lawrence' to 'St. Lawrence' in `spills_per_county` data frame.

In the next cells:
1. Check the row in `spills_per_county` that has 'St Lawrence'
2. Run the code and read the explanation in the comments
3. Run the code and read the explanation in the comments
4. Use the `st_lawrence_index` and `at` to update St Lawrence name in `spills_per_county` dataframe
5. Check the update was successfull

In [22]:
# 1.

In [25]:
# 2. we can get the index of that single row like this, to access the actual row index...
spills_per_county[spills_per_county.county=='St Lawrence'].index

Int64Index([50], dtype='int64')

In [26]:
# 3. we need to select the first item in that tuple using [0]
st_lawrence_index = spills_per_county[spills_per_county.county=='St Lawrence'].index[0]
st_lawrence_index

50

In [23]:
# 4.

In [24]:
# 5.

### Merge

In the following cells:
1. Use this cell to make any other updates needed for making an inner join of the `spills_per_county` and `ny_counties`. 
2. Over-write `ny_counties` as the  inner join of the `spills_per_county` and `ny_counties` dataframes.

From our previous exploration we know that Tuscarora Indian Reservation will not be in the join. Tuscarora Indian Reservation is located within Niagara county. 

3. Since the Tuscarora Indian Reservation does not appear in the `ny_counties` dataframe, add one spill to Niagara county. We will add a note about this in our final map. Add the cells you need to make this update **and** verify that the dataframe was updated.

In [25]:
# 1.

In [26]:
# 2.

In [27]:
# your code here

## Map
Create a choropleth map of the number of petroleum spills per county in the state of New York in 2023. 
Your map should have (at least) the following updates:
- a legend indicating the number of spills
- an updated color map
- a title 
- no axis
- an annotation with the data source (New York State Department of Environmental Conservation), date of access HINT: check the graph we did for power plants, 
- an annotation indicating one spill occurred in Tuscarora Indian Reservation within Niagara county

Tuscarora Indian Reservation in Niagara county

In [28]:
# your code here

## Final code

Collect all the relevant code into the first blank cell of the notebook titled "FINAL CODE". This single cell will have the end-to-end workflow: from importing libraries and loading the data, to producing the graph. The *only* ouput of this cell should be the graph you produced in the previous exercise. For each line, add a single comment explaining what the code does.